* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-sizing: border-box;
}

.navbar-scrolled {
  background-color: var(--bg);
  box-shadow: var(--shadow);
}

.navbar-logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--text-h);
}
.navbar-img {
  height: 60px;
  transition: all 0.3s ease;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-links {
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text);
  font-size: 0.95rem;
  position: relative;
}

.lightmode .navbar-links a {
  color: var(--text-h);
}

.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--hover);
  transition: width 0.3s ease;
}

.navbar-links a:hover {
  color: var(--text-hover);
  font-weight: 600;
}

.lightmode .navbar-links a:hover {
  color: #a67c00;
}

.navbar-links a:hover::after {
  width: 100%;
}

.theme-switch-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
}

.theme-icon {
  width: 32px;
  height: 32px;
}

.heroText {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.lightmode .heroMid-Intro {
  color: #e99c05;
}

.lightmode .heroMid .highlight {
  color: #e99c05;
}

.heroMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  min-height: 100vh;
  margin: auto;
  gap: 40px;
  padding: 15px 15px 13px 10px;
}
.heroMid-left {
  z-index: 10;
  text-align: left;
  padding: 50px 0px;
}
.heroMid-Intro {
  font-size: clamp(40px, 6vw, 80px);
  font-family: var(--neuton);
  color: #bf9b30;
  padding: 0;
  margin-bottom: 16px;
}
.heroMid-desc {
  max-width: 600px;
  font-size: 16px;
  text-align: justify;
  margin-right: 0;
  margin-top: 22px;
  color: #d1d5db;
}

.lightmode .heroMid-desc {
  color: #08060d;
}

.heroMid .highlight {
  display: inline-block;
  max-width: 700px;
  color: #a67c00;
}

.btn-subPrimary {
  background-color: #c9a22720;
  color: #a67c00;
  border-radius: 16px;
  padding: 10px 19px 8px 19px;
  margin-right: 10px;
  border-color: #c9a22750;
  border-width: thin;
  font-family: var(--mono);
}

.lightmode .btn-subPrimary {
  color: #4b3f12;
  border-color: #b59410;
}

.btn-sub {
  color: #a67c00;
  background-color: #c9a22720;
  border-radius: 16px;
  padding: 10px 19px 8px 19px;
  margin: 10px;
  border-color: #c9a22750;
  border-width: thin;
  font-family: var(--mono);
}

.lightmode .btn-sub {
  color: #4b3f12;
  border-color: #b59410;
}

.heroMid-right {
  position: relative;
}

.heroMid-right img {
  position: absolute;
  right: auto;
  margin-left: -40px;
  transform: translateY(-52%);
  width: 550px;
  height: 550px;
}

.btnRow {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 34px;
}

.btn-primary {
  font-weight: 700;
  padding: 18px 30px;
  color: #f7f3e6;
  background: #bf9b30;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  border-radius: 16px;
}

.btn-primary:hover {
  background: #a67c00;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-secondary {
  font-weight: 700;
  padding: 18px 30px;
  color: #f7f3e6;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border: inset;
  border-radius: 16px;
  border-width: thin;
}

.btn-secondary:hover {
  background: #ffffff;
  transform: translateY(-2px);
  color: #000000;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.lightmode .btn-secondary {
  color: #000000;
  background-color: transparent;
  border-color: #000000;
}

.lightmode .btn-secondary:hover {
  background: #000000;
  color: #ffffff;
}

.aboutContainer {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 20px;
  align-items: start;
  gap: 40px;
}

.about-desc {
  max-width: 100%;
  line-height: 1.7;
  padding: 10px;
  margin-bottom: 15px;
  text-align: justify;
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.aboutText h2 {
  margin-bottom: 1px;
}

.aboutBoxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxContainer {
  background-color: transparent;
  border: 2px solid #bf9b30;
  border-radius: 5px;
  padding: 15px;
  height: 140px;
  min-width: 240px;
  margin: 16px;
  
}
